<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ストップウォッチ画面</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../lib/stopwatch.js"></script>
  </head>
  <body>
    <h1>ストップウォッチ画面</h1>
    <div class="player-container">
      <p class="player-name" id="player1-name"></p>
      <span class="player-time" id="player1-time">0.00</span> 秒
    </div>

    <div class="player-container">
      <p class="player-name" id="player2-name"></p>
      <span class="player-time" id="player2-time">0.00</span> 秒
    </div>
    <p>タイマースタート:Space</p>
    <p>タイマーストップ</p>
    <p></p>
    <ul>
      <li>プレイヤー1: A</li>
      <li>プレイヤー2: enter</li>
    </ul>
  </body>
</html>
